<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MozQuito.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MozQuitoEntities.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>MozQuitoViews.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A5ECBD651C5BA52F003350E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5ECBD781C5BA53F003350E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F4E6671C50E0FD0099010C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F4E67B1C50E0FD0099010C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
