[submodule "Libraries/StackView"]
	path = Libraries/StackView
	url = git@bitbucket.org:joshcampion89/stackview.git
	branch = develop
[submodule "Libraries/SwiftInPractice"]
	path = Libraries/SwiftInPractice
	url = git@bitbucket.org:joshcampion89/swiftinpractice.git
[submodule "Libraries/ViperKit"]
	path = Libraries/ViperKit
	url = git@bitbucket.org:thedistance/viperkit.git
	branch = develop
[submodule "Libraries/TheDistanceCore"]
	path = Libraries/TheDistanceCore
	url = git@bitbucket.org:thedistance/thedistancecore.git
[submodule "Libraries/JCPageViewController"]
	path = Libraries/JCPageViewController
	url = git@bitbucket.org:joshcampion89/jcpageviewcontroller.git
[submodule "Libraries/AdvancedOperationKit"]
    path = Libraries/AdvancedOperationKit
    url = git@bitbucket.org:joshcampion89/advancedoperationkit.git
[submodule "Libraries/PSOperations"]
	path = Libraries/PSOperations
	url = git@github.com:joshc89/PSOperations.git
